.home-hero {
  position: relative;
  width: 100%;
  height: 85vh;
  min-height: 320px;
  background-image: url("../landing-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  z-index: 1;
}

.hero-overlay {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #95b8e2;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
  z-index: 2;
}

.hero-title {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 5px;
  margin-bottom: -1rem;
}

.hero-subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  opacity: 0.9;
}

/* Home Page */
.home-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: left;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border-radius: 20px;
}

.home-title {
  font-size: 48px;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 40px;
  line-height: 1.2;
}

/* Dining Halls Title */
.dining-halls-page-title {

  border: 2px solid rgba(253, 213, 75);
  padding: 0rem 0.5rem; /* py-2 px-4 */
  width: fit-content;
  color: rgba(253, 213, 75);
  font-size: 1rem; /* text-3xl */
  font-weight: 700; /* font-bold */
  margin-bottom: 2rem; /* mb-8 */
  margin-top: 10rem;
}

/* Dining Halls Grid */
.dining-halls-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* gap-4 */
  max-width: 56rem; /* max-w-4xl */
  margin-left: auto;
  margin-right: auto;
}

/* Dining Hall Card */
.dining-hall-card {
  background-color: white;
  padding: 1.5rem; /* p-6 */
  border-radius: 0.5rem; /* rounded-lg */
  transition: box-shadow 0.3s ease; /* transition-shadow */
  cursor: pointer;
  border: 2px solid #BFDBFE; /* border-2 border-blue-200 */
}

.dining-hall-card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); /* hover:shadow-xl */
  border-color: #3B82F6; /* hover:border-blue-500 */
}

.dining-hall-card h2 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  text-align: center;
  color: #1E3A8A; /* text-blue-900 */
}